* {
  margin: 0;
  padding: 0;
}
.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  --bs-body-font-family: "helvetica";
  --bs-body-color: #8d95d6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

a {
  text-decoration: none;
  color: #636363;
  font-size: 15px;
}

.login-form .logo {
  text-align: center;
  margin-bottom: 60px;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 2px;
  padding-left: 41px;
}

.int-area input {
  position: relative;
  left: 24px;
  width: 220px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-size: 18px;
  color: #6b6b6b;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 20px;
  top: 35px;
  font-size: 15px;
  color: #6b6b6b;
  transition: top 0.3s ease;
}

/* js warning */

.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}

@keyframes warning {
  0% {
    transition: translateX(-8px);
  }
  25% {
    transition: translateX(8px);
  }
  50% {
    transition: translateX(-8px);
  }
  75% {
    transition: translateX(8px);
  }
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: 21px;
  font-size: 15px;
  color: #8d95d6;
}

.btn-area {
  margin-top: 12px;
}

.btn-area button {
  margin-top: 44px;
  margin-bottom: 20px;
  background: #8d95d6;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8rem;
  width: 281px;
  height: 55px;
  cursor: pointer;
}

.btnHover:hover {
  color: #fff;
  background: #d4def0;
}

.caption {
  margin-top: 72px;
  text-align: center;
}

.caption a {
  font-size: 13px;
  color: #636363;
}

.social-login {
  text-align: center;
  margin-top: 54px;
}

.social-login > .box {
  border: 1px solid #e6e6ea;
  padding: 15px;
  padding-right: 30px;
}

.naver:hover {
  background: #03c75a;
  color: #fff;
}

.naver {
  margin-left: 10px;
}

.kakao {
  margin-right: 10px;
}

.kakao:hover:hover {
  background: #fee500;
}

.social-login img {
  width: 15px;
  margin-bottom: 2px;
  margin-right: 30px;
}

.up {
  padding-left: 120px;
}

.up2 {
  padding-left: 21px;
}

/* 자동 로그인 버튼 */

.btn-auto p {
  float: left;
  margin-left: 20px;
  color: #6b6b6b;
  font-size: 13px;
  margin-top: 20px;
}

.btn-auto p label input[name="login-y"] {
  appearance: none;
}

.btn-auto p label input[name="login-y"] + span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/images/autoLogin.png);
  margin-right: 5px;
  vertical-align: middle;
  padding-top: 23px;
  background-repeat: no-repeat;
}

.btn-auto p label input[name="login-y"]:checked + span::before {
  content: "";
  background-image: url(/images/autoLogin-checked.png);
}

.slide-in {
  animation: change 0.5s ease forwards;
}

@keyframes change {
  from {
      transform: translateX(100%);
      visibility: visible;
  }

  to {
      transform: translateX(0%);
  }
}

/* 반응형 */

body {
  margin-left: var(--ytd-margin-6x);
  min-width: var(--ytd-watch-flexy-min-player-width);
  /* flex: 1; */
  flex-basis: 1e-9px;
  max-width: calc(1280px + var(--ytd-watch-flexy-sidebar-width) + 3 * var(--ytd-margin-6x));
}

html {
  --ytd-watch-flexy-width-ratio: 1;
  --ytd-watch-flexy-height-ratio: 0.5625;
  --ytd-watch-flexy-min-player-height: 240px;
  --ytd-watch-flexy-sidebar-width: 402px;
  --ytd-margin-6x: 24px;
  --ytd-watch-flexy-min-player-width: calc(
    var(--ytd-watch-flexy-min-player-height) * (var(--ytd-watch-flexy-width-ratio) / var(--ytd-watch-flexy-height-ratio))
  );
}
